.sliders {
  width: 600px !important;
}

.swiper-slide {
  background: #fff;
  padding: 40px;
  border-radius: 5px;
}
.slider__img-01 img,
.slider__img-02 img {
  width: 100%;
}
.slider__img-01 {
  background: #eeeaff;
}
.slider__img-02 {
  background: #d3cef2;
}
.slider__img-01,
.slider__img-02 {
  border-radius: 0.8rem;
  margin-bottom: 30px;
}
.slider__item h4 {
  margin-bottom: 10px;
  color: var(--heading-color);
}
.slider__item p {
  color: var(--heading-color);
  line-height: 28px;
}
.sliders h2 {
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 50px;
}
